{% extends 'base.html.twig' %}

{% block body %}
    <h1>Extencion list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for extencion in extencions %}
            <tr>
                <td><a href="{{ path('extencion_show', { 'id': extencion.id }) }}">{{ extencion.id }}</a></td>
                <td>{{ extencion.numero }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('extencion_show', { 'id': extencion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('extencion_edit', { 'id': extencion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('extencion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
